* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    cursor: default;
}

body {
    background-color: #F6F7F8;
    position: relative;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 4rem 4rem 4rem;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

.heading input {
    width: 18rem;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 0 4rem 0 1rem;
    border: 1px solid #a8a8a8;
    outline: none;
    background-color: #fff;
    background-image: url(img/board/input_VerticalLine.png), url(img/board/searchIcon.png);
    background-position: center right 3rem, center right 1rem;
    background-repeat: no-repeat;
    background-size: 1px 2rem, auto;
    cursor: auto;
}

.heading input:focus {
    border: 2px solid #000;
}

.heading input::placeholder {
    font-size: 1.1rem;
    color: #d1d1d1;
}

.heading button {
    height: 3rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: #fff;
    background-color: #2A3647;
    padding: 0 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

.heading > div {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.heading button > img {
    padding-left: 0.5rem;
    cursor: pointer;
}

#mainContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 4rem;
}

.column {
    flex: 25%;
}

#column1, #column2, #column3, #column4 {
    cursor: grab;
}

.category:hover, .title:hover, .description:hover {
    cursor: all-scroll;
}

.column .taskDiv {
    background-color: #fff;
    border-radius: 30px;
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    border: 1px solid #837c7c;
}

.marginRight {
    margin-right: 2rem;
}

.category {
    padding: 0.3rem 1.5rem;
    display: inline-block;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 1rem;
}

.color1 {
    background-color: #FF7A00;
}

.color2 {
    background-color: #FC71FF;
}

.color3 {
    background-color: #1FD7C1;
}

.color4 {
    background-color: #0038FF;
}

.color5 {
    background-color: #ffc701;
}

.title {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #2A3647;
}

.description {
    color: #a8a8a8;
}

h2 {
    color: #2A3647;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.heading button:hover {
    background-color: #29ABE2;
}

#ToDo, #InProgress, #AwaitingFeedback, #Done {
    min-height: 24rem;
}

.taskDiv {
    position: relative;
}

.taskDiv > img {
    width: 25px;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

/* Add Task Section */

#greyBackground {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    display: none;
}

#addTask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    padding: 3rem;
    border-radius: 30px;
    height: 44.5rem;
    overflow-y: scroll;
}

#addTask::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 30px;
} 
    
#addTask::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    display: none;
}

#addTask::-webkit-scrollbar-thumb {
    background-color: #666;
    outline: 1px solid #eee;
    border-radius: 30px;
}

#addTask h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

#addTask h2 > img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#addTask h2 > img:hover {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

#addTask .leftPart {
    margin: 0 4rem 0 0;
}

#addTask p {
    font-size: 1.1rem;
}

#addTask input, #addTask textarea, #addTask .categoryDiv, #addTask .assignedToDiv {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    width: 28rem;
    margin: 0.8rem 0 2rem 0;
    cursor: auto;
    padding: 0 1rem;
    font-size: 1.1rem;
    outline: none;
    background-color: #fff;
}

#addTask .categoryDiv, #addTask .assignedToDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

#addTask #categoryDiv p {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
}

#addTask #categoryDiv, #addTask #categoryDiv p, #addTask #categoryDiv img {
    cursor: pointer;
}

#addTask .selectColor {
    width: 14px;
    height: 14px;
    margin-left: 1rem;
    border-radius: 50px;
    cursor: pointer;
}

#addTask .grey:hover {
    color: #999;
}

#addTask .turquoise:hover {
    color: #1fd7c1;
}

#addTask .orange:hover {
    color: #ff8a00;
}

#addTask .blue:hover {
    color: #0038ff;
}

#addTask .yellow:hover {
    color: #ffc701;
}

#addTask .pink:hover {
    color: #fc71ff;
}

#addTask .turquoise_point  {
    background-color: #1fd7c1;
}

#addTask .orange_point {
    background-color: #ff8a00;
}

#addTask .blue_point {
    background-color: #0038ff;
}

#addTask .yellow_point {
    background-color: #ffc701;
}

#addTask .pink_point {
    background-color: #fc71ff;
}

#addTask input, #addTask .categoryDiv, #addTask .assignedToDiv {
    min-height: 3rem;
}

#addTask .categoryDiv > img, #addTask .assignedToDiv > img {
    cursor: pointer;
}

#addTask input::placeholder {
    color: #d1d1d1;
}

#addTask input:focus, #addTask textarea:focus {
    border: 2px solid #999999;
}

#addTask textarea {
    resize: none;
    padding-top: 1rem;
    height: 8rem;
}

#addTask textarea::placeholder {
    color: #d1d1d1;
}

#addTask .inputCategoryAssignedTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#addTask .categoryDiv, #addTask .inputCategoryAssignedTo p, #addTask .inputCategoryAssignedTo img {
    cursor: pointer;
}

#addTask .mainContent {
    display: flex;
}

#addTask .rightPart {
    margin-left: 4rem;
    position: relative;
}

#addTask .prioDiv {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0 2rem 0;
}

#addTask .prioButton {
    width: 8.7rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid #d1d1d1;
}

#addTask .prioButton > img {
    padding-left: 0.6rem;
    cursor: pointer;
}

#addTask .subtaskDiv {
    margin: 0.8rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#addTask .subtaskDiv > input {
    margin: 0;
}

#addTask .subtaskDiv > #inputIcons {
    position: absolute;
    right: 1rem;
    display: flex;
}

#addTask #inputIcons > img {
    cursor: text;
}

#addTask .closeIcon, #addTask .checkmarkIcon {
    cursor: pointer;
}

#addTask .closeIcon:hover, #addTask .checkmarkIcon:hover {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

#addTask .subtaskLine {
    height: 2rem;
}

#addTask .subtaskIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.2rem;
}

#addTask #addIcon {
    display: flex;
}

#addTask .finishedSubtask {
    display: flex;
    align-items: center;
}

#addTask .finishedSubtask img {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
}

#addTask .finishedSubtask > input {
    width: 1rem;
    height: auto;
    margin: 0;
}

#addTask .finishedSubtask > p {
    font-size: 0.9rem;
    margin: 0.5rem 2rem 0.5rem 1rem;
    max-width: 22rem;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

#addTask .finishedSubtask > img {
    width: 10px;
    cursor: pointer;
}

#addTask #colorChoice {
    display: none;
    margin-bottom: 2rem;
}

#addTask .newCategory {
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    margin: 0 1rem 0 1rem;
}

#addTask .newCategory:hover {
    transform: scale(1.4);
    transition-duration: 0.15s;
    cursor: pointer;
}

#addTask .green {
    background-color: #169b16;
}

#addTask .red {
    background-color: #f52424;
}

#addTask .violet {
    background-color: #d63aee;
}

#addTask .brightBlue {
    background-color: #5ec389;
}

#addTask .darkYellow {
    background-color: #f1f106;
}

#addTask #createCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0.8rem 0 1rem 0;
}

#addTask .categoryText {
    margin: 0;
}

#addTask .categoryIcons {
    position: absolute;
    right: 1rem;
}

#addTask .assignedToDiv {
    cursor: pointer;
}

#addTask #assignedToDiv > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
}

#addTask #assignedToDiv input {
    width: 1rem;
    height: 1rem;
    min-height: 0;
    margin: 0;
    cursor: pointer;
}

#addTask .inputCategoryAssignedTo {
    padding: 0.8rem 0 0.8rem 0;
}

#addTask #subtaskContent input {
    min-height: 0;
}

.initialDiv {
    display: flex;
    margin-left: 0.3rem;
    cursor: all-scroll;
}

.initial {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    margin-left: -0.3rem;
    cursor: all-scroll;
}

.taskFooter {
    margin: 1rem 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: all-scroll;
}

.taskFooter img {
    cursor: all-scroll;
}

#selectCategory {
    display: flex;
    align-items: center;
}

#taskInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    padding: 3rem;
    border-radius: 30px;
    height: fit-content;
    width: 35rem;
    position: relative;
    overflow-y: scroll;
    max-height: 43.5rem;
}

.renderCategory {
    font-size: 1.5rem;
    padding: 0.3rem 2.2rem;
    margin: 0;
}

.taskTitle {
    font-size: 3.2rem;
    margin: 1.5rem 0;
}

.taskDescription, .taskDate, .taskPrio, .taskAssignedTo {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.taskAssignedTo {
    margin-top: 1.5rem;
}

.taskDate, .taskPrio, .taskAssignedTo, .subtask {
    font-size: 1.2rem;
    font-weight: 700;
}

.subtask {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.taskPrio, .taskDate {
    display: inline-block;
}

.closeTask {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    cursor: pointer;
}

.closeTask:hover {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.clearCreateButtons {
    display: flex;
    justify-content: flex-end;
    margin: 0 3rem 3rem 0;
    position: absolute;
    bottom: -3rem;
    right: 0;
}

.clear, .create {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #2A3647;
    cursor: pointer;
    margin-bottom: 3rem;
}

.clear {
    color: #2A3647;
    padding: 0.8rem 1.2rem;
}

.clear:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
}

.create {
    color: #fff;
    background-color: #2A3647;
    padding: 0.8rem 0.8rem;
    margin-left: 1rem;
    font-weight: 600;
}

.create:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
}

.clear > img, .create > img {
    padding-left: 0.7rem;
    cursor: pointer;
}

#taskInfo .dateInfo {
    font-weight: 400;
    margin-left: 3rem;
}

#taskInfo .prioInfo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 0.2rem 1.1rem;
    border-radius: 10px;
    color: #fff;
    margin-left: 3rem;
    border: none;
}

.urgentColor {
    background-color: #ff3d00;
}

.mediumColor {
    background-color: #ffa800;
}

.lowColor {
    background-color: #7ae229;
}

.invertPrioIcon {
    filter: brightness(0) invert(1);
}

.btnImg {
    display: inline-block;
}

.invertPrioIcon {
    margin-left: 0.8rem;
}

.names {
    font-size: 1.2rem;
    margin-left: 1.5rem;
}

#assignees > div {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}

.editBtn, .confirmBtn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    height: 2.5rem;
}

.editBtn:active {
    transform: scale(0.95);
}

.infoSection {
    font-size: 1.2rem;
    font-weight: 600;
}

#titleInput, #dateInput {
    min-height: 3rem;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 0.6rem 0 1.2rem 0;
    cursor: auto;
    padding: 0 1rem;
    font-size: 1.1rem;
    outline: none;
    background-color: #fff;
    width: 100%;
}

#descriptionArea {
    resize: none;
    height: 8rem;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #d1d1d1;
    margin: 0.6rem 0 1.2rem 0;
    font-size: 1.1rem;
    cursor: auto;
    outline: none;
}

.prioDiv {
    display: flex;
    justify-content: space-between;
    margin: 0.6rem 0 1.2rem 0;
}

.prioButton {
    width: 8.7rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid #d1d1d1;
}

.prioButton > img {
    padding-left: 0.6rem;
    cursor: pointer;
}

.assignedToDiv {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    width: 100%;
    margin: 0.8rem 0 2rem 0;
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.1rem;
    outline: none;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 3rem;
}

.assignedToDiv img {
    cursor: pointer;
}

#assignedToDiv > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
}

#assignedToDiv input {
    width: 1rem;
    height: 1rem;
    min-height: 0;
    margin: 0;
    cursor: pointer;
}

.inputCategoryAssignedTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 0 0.8rem 0;
}

#taskInfo::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 30px;
}

#taskInfo::-webkit-scrollbar-thumb {
    background-color: #666;
    outline: 1px solid #eee;
    border-radius: 30px;
}

#taskInfo::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    display: none;
}

#taskInfo .showScroll::-webkit-scrollbar {
    overflow: scroll;
    display: flex;
}

.finishedSubtask { 
    display: flex;
    align-items: center;
}

.finishedSubtask input {
    margin-right: 0.5rem;
}

.finishedSubtask p {
    margin-right: 1rem;
}

.subtaskDiv {
    min-height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.subtaskDiv img, .subtaskDiv input {
    cursor: pointer;
}

.garbageIcon {
    margin-right: 2rem;
    height: 45px;
}

.heading > div > input {
    margin-right: 2rem;
}

.navTop > img {
    display: none;
}

@media (max-width: 900px) {
    .navSection a {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .navSection a img {
        margin-right: 0;
        margin-bottom: 0.3rem;
    }

    .mainContent {
        margin-left: 1rem;
    }

    .navSection {
        flex-direction: column;
        background-color: #2A3647;
    }
}

@media (max-width: 800px) {
    .navSide {
        height: auto;
        width: 100%;
    }

    .navSection {
        flex-direction: row;
        background-color: #2A3647;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navSection a {
        width: 33.33%;
        padding: 1rem 0;
    }

    .navFooter {
        display: none;
    }

    .contentContainer {
        margin-left: 0;
    }

    .navSide .joinIcon {
        display: none;
    }

    .navTop {
        width: 100%;
    }

    .mainContent {
        margin-left: 0;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navTop > img {
        display: flex;
        margin-left: 2rem;
        height: 3.2rem;
    }

    .navTop .questionMark {
        visibility: hidden;
    }

    .navTop h6 {
        visibility: hidden;
    }

    .heading-responsive {
        display: flex;
        font-size: 1rem;
    }

    .title h1 {
        flex-direction: column;
        align-items: flex-start;
    }

    #mainContent {
        display: block;
        width: 100%;
        margin: 0;
    }

    .column {
        margin: 0 1rem;
    }
}

@media (max-width: 550px) {
    .firstRow a .boxes_1 {
        max-width: 7rem;
        max-height: 7rem;
    }

    .quantity {
        font-size: 2.5rem;
    }

    .firstRow {
        width: 26rem;
    }

    .secondRow {
        width: auto;
        height: 7rem;
        width: 26rem;
        margin-top: 2.5rem;
    }

    .firstBox, .secondBox {
        height: 7rem;
        width: 12rem;
    }

    .thirdRow {
        width: 26rem;
        margin-top: 2.5rem;
    }

    .mainContent .boxInfo {
        font-size: 0.9rem;
    }

    .greyVerticalLine {
        height: 4.8rem;
    }

    .urgentIcon {
        width: 55px;
        height: 55px;
    }

    .leftPart {
        width: 7rem;
    }

    .thirdRow_subBox img {
        width: 55px;
        height: 55px;
    }

    .secondBox img {
        width: 55px;
        height: 55px;
    }

    .hiddenVerticalLine {
        display: none;
    }

    .showedHorizontalLine {
        margin-top: 2rem;
        display: flex;
    }

    .title .heading_second {
        padding-left: 0;
    }
    
    .title h1 {
        margin-left: 6rem;
    }

    .title .heading_first {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

@media (max-width: 450px) {
    .firstRow a .boxes_1 {
        max-width: 6.5rem;
        max-height: 6.5rem;
        border-radius: 20px;
    }

    .firstRow {
        margin: 0 auto;
        width: 23rem;
    }

    .quantity {
        font-size: 2.3rem;
    }

    .secondRow {
        width: 23rem;
        margin: 2rem auto;
        max-height: 6.5rem;
        border-radius: 20px;
    }

    .thirdRow {
        margin: 0;
        width: 23rem;
    }

    .firstBox, .secondBox {
        max-height: 6.5rem;
        width: 10.5rem;
        border-radius: 20px;
    }

    .urgentIcon {
        width: 50px;
        height: 50px;
    }

    .firstBox img, .secondBox img {
        width: 50px;
        height: 50px;
    }

    .date {
        font-size: 1rem;
    }

    .title h1 {
        margin-left: 9rem;
    }

    .navTop > div {
        right: 1rem;
    }

    .showedHorizontalLine {
        display: flex;
    }

    .navTop > div {
        right: 5rem;
    }

    .column h2 {
        margin-bottom: 1rem;
    }

    #ToDo, #InProgress, #AwaitingFeedback, #Done {
        min-height: 1rem;
    }

    .column .taskDiv {
        margin-bottom: 2.5rem;
    }

    .title {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 400px) {
    .title h1 {
        margin-left: 11rem;
    }

    .firstRow {
        width: 21.5rem;
    }

    .secondRow {
        width: 21.5rem;
    }

    .thirdRow {
        width: 21.5rem;
    }

    .secondRow {
        margin: 1rem auto;
    }

    .firstBox, .secondBox {
        width: 10rem;
    }

    .leftPart {
        justify-content: space-around;
    }

    .thirdRow_subBox {
        width: 6.5rem;
    }

    .heading {
        display: block;
    }
}