* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    cursor: default;
}

html {
    background-color: #F6F7F8;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 7rem 3rem 7rem;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

.heading > img {
    cursor: pointer;
}

.heading > img:hover {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.mainContent {
    margin: 0 7rem 5rem 7rem;
}

h2 {
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
}

p {
    margin-bottom: 2rem;
}