* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    cursor: default;
}

.title {
    margin: 5rem 0 5rem 7rem;
}

h1 {
    display: flex;
    align-items: center;
}

h1 > .heading_first {
    font-weight: 700;
    font-size: 3rem;
    padding-right: 4rem;
}

h1 > .heading_second {
    font-size: 1.5rem;
    font-weight: 400;
    color: #2A3647;
    padding-left: 2rem;
}

.quantity {
    font-weight: 600;
    font-size: 3rem;
    cursor: pointer;
}

a .boxInfo {
    font-size: 1.1rem;
    color: #2A3647;
    transition-duration: 0.4s;
    cursor: pointer;
}

.mainContent {
    margin-left: 7rem;
    position: relative;
}

.firstRow {
    display: flex;
    justify-content: space-between;
    width: 33rem;
}

.boxes_1 {
    background-color: #fff;
    width: 9rem;
    height: 9rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
}

.boxes_1:hover .boxInfo, .boxes_1:hover {
    color: #fff;
    transform: scale(1.05);
    border-radius: 0 30px 30px 30px;
    transition-duration: 0.4s;
}

.boxes_1:hover {
    background-color: #2A3647;
}

.quantity_2 {
    font-weight: 600;
    font-size: 2rem;
}

.secondRow {
    width: 33rem;
    height: 8rem;
    border-radius: 30px;
    background-color: #fff;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
}

.secondRow:hover .boxInfo_2, .secondRow:hover .date, .secondRow:hover {
    color: #fff;
    transform: scale(1.05);
    border-radius: 0 30px 30px 30px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.secondRow:hover {
    background-color: #2A3647;
}

.leftPart {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    margin-left: 2rem;
    cursor: pointer;
}

.rightPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    cursor: pointer;
}

.urgentIcon {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.date {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #2A3647;
    transition-duration: 0.4s;
}

.boxInfo_2 {
    font-size: 0.8rem;
    color: #2A3647;
    transition-duration: 0.4s;
}

.greyVerticalLine {
    height: 6rem;
    width: 2px;
    cursor: pointer;
}

.thirdRow {
    display: flex;
    justify-content: space-between;
    width: 33rem;
    margin: 3rem 0 5rem 0;
    height: 8rem;
}

.firstBox, .secondBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    width: 15rem;
    height: 8rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
}

.firstBox:hover, .secondBox:hover, .firstBox:hover p, .secondBox:hover p {
    color: #fff;
    transform: scale(1.05);
    border-radius: 0 30px 30px 30px;
    transition-duration: 0.4s;
}

.firstBox:hover, .secondBox:hover {
    background-color: #2A3647;
}

.firstBox img, .secondBox img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.toDo, .done {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.thirdRow_subBox {
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.boxes_1, .secondRow, .firstBox, .secondBox {
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
}

#timeDate {
    font-size: 3rem;
    font-weight: 500;
    color: #2A3647;
}

#userName {
    font-size: 4rem;
    font-weight: 700;
    color: #29ABE2;
}

.greeting {
    position: absolute;
    top: 20%;
    right: 18%;
}

.navTop > img {
    display: none;
}

.heading-responsive {
    display: none;
}

.showedHorizontalLine {
    display: none;
}

@media (max-width: 1300px) {
    .greeting {
        display: none;
    }
}

@media (max-width: 900px) {
    .navSection a {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .navSection a img {
        margin-right: 0;
        margin-bottom: 0.3rem;
    }

    .mainContent {
        margin-left: 1rem;
    }

    .title {
        margin: 5rem 0 5rem 1rem;
    }

    .navSection {
        flex-direction: column;
        background-color: #2A3647;
    }
}

@media (max-width: 800px) {
    .navSide {
        height: auto;
        width: 100%;
    }

    .navSection {
        flex-direction: row;
        background-color: #2A3647;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navSection a {
        width: 33.33%;
        padding: 1rem 0;
    }

    .navFooter {
        display: none;
    }

    .contentContainer {
        margin-left: 0;
    }

    .navSide .joinIcon {
        display: none;
    }

    .navTop {
        width: 100%;
    }

    .mainContent {
        margin-left: 0;
    }

    .title {
        margin: 5rem 0 5rem -14rem;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navTop > img {
        display: flex;
        margin-left: 2rem;
        height: 3.2rem;
    }

    .navTop .questionMark {
        visibility: hidden;
    }

    .navTop h6 {
        visibility: hidden;
    }

    .heading-responsive {
        display: flex;
        font-size: 1rem;
    }

    .title h1 {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 550px) {
    .firstRow a .boxes_1 {
        max-width: 7rem;
        max-height: 7rem;
    }

    .quantity {
        font-size: 2.5rem;
    }

    .firstRow {
        width: 26rem;
    }

    .secondRow {
        width: auto;
        height: 7rem;
        width: 26rem;
        margin-top: 2.5rem;
    }

    .firstBox, .secondBox {
        height: 7rem;
        width: 12rem;
    }

    .thirdRow {
        width: 26rem;
        margin-top: 2.5rem;
    }

    .mainContent .boxInfo {
        font-size: 0.9rem;
    }

    .greyVerticalLine {
        height: 4.8rem;
    }

    .urgentIcon {
        width: 55px;
        height: 55px;
    }

    .leftPart {
        width: 7rem;
    }

    .thirdRow_subBox img {
        width: 55px;
        height: 55px;
    }

    .secondBox img {
        width: 55px;
        height: 55px;
    }

    .hiddenVerticalLine {
        display: none;
    }

    .showedHorizontalLine {
        margin-top: 2rem;
        display: flex;
    }

    .title .heading_second {
        padding-left: 0;
    }
    
    .title h1 {
        margin-left: 6rem;
    }

    .title .heading_first {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .title {
        margin: -2rem 0 3rem -14rem;
    }
}

@media (max-width: 450px) {
    .firstRow a .boxes_1 {
        max-width: 6.5rem;
        max-height: 6.5rem;
        border-radius: 20px;
    }

    .firstRow {
        margin: 0 auto;
        width: 23rem;
    }

    .quantity {
        font-size: 2.3rem;
    }

    .secondRow {
        width: 23rem;
        margin: 2rem auto;
        max-height: 6.5rem;
        border-radius: 20px;
    }

    .thirdRow {
        margin: 0;
        width: 23rem;
    }

    .firstBox, .secondBox {
        max-height: 6.5rem;
        width: 10.5rem;
        border-radius: 20px;
    }

    .urgentIcon {
        width: 50px;
        height: 50px;
    }

    .firstBox img, .secondBox img {
        width: 50px;
        height: 50px;
    }

    .date {
        font-size: 1rem;
    }

    .title h1 {
        margin-left: 9rem;
    }

    .navTop > div {
        right: 2rem;
    }

    .showedHorizontalLine {
        display: flex;
    }
}

@media (max-width: 400px) {
    .title h1 {
        margin-left: 11rem;
    }

    .firstRow {
        width: 21.5rem;
    }

    .secondRow {
        width: 21.5rem;
    }

    .thirdRow {
        width: 21.5rem;
    }

    .secondRow {
        margin: 1rem auto;
    }

    .navTop > div {
        right: 5rem;
    }

    .firstBox, .secondBox {
        width: 10rem;
    }

    .leftPart {
        justify-content: space-around;
    }

    .thirdRow_subBox {
        width: 6.5rem;
    }
}